@{
    ViewData["Title"] = "Confirmation";
}

@model Mission5.Models.ApplicationResponse

<div>@Model.Title has been successfully added to the record.</div>

<a asp-controller="Home" asp-action="Index">To Homepage</a>